@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@700;800&display=swap');

:root {
  --white-color:#ffffff;
  --blue-color:#05445E;
  --grey-color: #818181;
  --light-black-color: #0F0F0F;
  --black-color:#000000;
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



body {
  font-family:"DM Sans",sans-serif;
}
